@media screen and (max-width: 860px) {
  thead {
    display: none;
  }

  tbody tr td {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    padding: 0;
    text-align: left;
  }

  tbody td::before {
    content: attr(data-cell);
  }
}
