.pagination {
  width: 100%;
  height: auto;
  padding: 5px 0;
  position: relative;
  align-items: center;
  background: #fff;
  color: #333;
  border-bottom: 1px solid #333;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.item {
  padding: 5px;
}

.disabled-page a {
  display: none;
  cursor: no-drop;
}

.activePage {
  background: #333;
  color: #fff;
  border-radius: 11px;
  font-weight: 700;
}

.previous {
  border-right: solid 1px #808e9b;
  color: #333;
  left: 0;
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  width: 150px;
}

.next {
  border-left: solid 1px #808e9b;
  color: #333;
  right: 0;
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  width: 150px;
}

.pagination .pagination-page a {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
