@media screen and (max-width: 860px) {
  thead {
    display: none;
  }

  tbody tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  tbody tr td {
    text-align: left;
  }

  tbody td::before {
    content: attr(data-cell);
  }
}
