th,
td {
  padding: 10px;
}

tbody tr {
  border-bottom: 2px solid rgb(204, 205, 206);
}

@media screen and (max-width: 860px) {
  table {
    font-size: 13px;
  }
  thead {
    display: none;
  }

  tbody tr td {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    column-gap: 10px;
    padding: 1rem;
    text-align: left;
  }

  tbody td::before {
    content: attr(data-cell);
    font-weight: 700;
    text-align: left;
  }
}
