footer {
  max-width: 100vw;
  background: #333;
  text-align: center;
  padding: 3.2rem;
  color: #fff;
  margin-top: auto;
}

.footer-header {
  font-size: 2.4rem;
}

.footer-details {
  font-size: 1.8rem;
}
