header {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 3rem;
}

header h1 a {
  font-size: 3rem;
  font-weight: 400;
}

header ul {
  display: inline-flex;
}

header ul li {
  list-style-type: none;
}

header ul a {
  display: inline-block;
  font-size: 1.8rem;
  padding: 3rem;
}

header ul a:hover,
header ul a.active {
  background-color: var(--light-blue);
}
