th,
td {
  text-align: left;
  min-width: 150px;
  padding: 10px;
}

th {
  font-weight: 400;
}

th:nth-child(5),
th:nth-child(6),
td:nth-child(5),
td:nth-child(6) {
  text-align: center;
}

tbody tr:nth-child(2n) {
  background: #fff0d3;
}

a {
  transition: all 0.3s ease;
}

a:hover {
  transition: all 0.3s ease;
  font-weight: 700;
}

@media screen and (max-width: 1160px) {
  table {
    font-size: 80%;
  }
}

@media screen and (max-width: 1013px) {
  table {
    font-size: 100%;
  }
  thead {
    display: none;
  }

  tbody tr td {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    column-gap: 10px;
    padding: 1rem;
    text-align: left;
  }

  tbody td::before {
    content: attr(data-cell);
    font-weight: 700;
    text-align: left;
  }
}

@media screen and (max-width: 520px) {
  table {
    font-size: 12px;
  }
}
