@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #16697a;
  --secondary: #ffa62b;
  --light-blue: #;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #e1e1e1;
}
